@import url("https://fonts.googleapis.com/css?family=Open+Sans|Roboto:400,700&display=swap");

:root {

  --light: #f2f2f2;
  --dark: #333;
  --radius: 4px;
}

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  background: var(--light);
  color: var(--dark);
  line-height: 1.5;
  font-size: 0.875rem;
}

main {
  min-height: 100vh;
  display: grid;
  place-items: center;
}

.container {
  text-align: center;
}

.value {
  font-size: 6rem;
  font-weight: bold;
}


h1 {
  font-size: 48px;
  text-transform: capitalize;
}

.btn {
  height: 42px;
  width: 120px;
  text-transform: uppercase;
  background: transparent;
  color: var(--dark);
  padding: 0.375rem 0.75rem;
  display: inline-block;
  font-size: 0.875rem;
  border: 2px solid var(--dark);
  cursor: pointer;
  border-radius: var(--radius);
  margin: 0.5rem;
  transition: all ease-in 300ms;
  text-transform: capitalize;
}

.btn:hover {
  color: var(--light);
  background: var(--dark);
}